html {
    position: relative;
    min-height: 90%;
}

h1 {
    text-align: center;
    font-size: 80px;
}

p1{
    font-size: 30px;
}

p{
    font-size:13px;
}
.caption {
    color:#010f2c
      
}

.TL {
    position: absolute;
    bottom: 300px;
    left: 200px;
    size: 100px;
}

.navbar{
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: right;
    z-index: 10;
    background: white;
    
}

.topnav a.active{
    color:#010f2c;
}


.nav {
    position: absolute;
    bottom: 0px;
    top:auto;
    width: 100%;
    height: 150%;
    font-display: left;
}


.body, img {
    margin-bottom: 5px;
    border: image width 100px;
    image-resolution: 10px;
    background-color: rgb(222, 226, 228);
    align: center;

}

.footer {
    position: absolute;
    font-size:10px;
    bottom: 0px;
    height: inherit;
    width: 100%;
    background-color:rgb(28, 107, 153);
}

 .text-right{
    font-size:15px ;
 }

 .button {
    color: white;
    text-align: center;
    font-size: 16px;
    size:90px;
    bottom:40px;
    cursor: pointer;
  }
  
  .button1 {
    background-color: #cec218;
    border: 0cm;
}

 